@model AlloyTraining.Models.ViewModels.ShareThisBlockViewModel

<a href="https://www.facebook.com/sharer/sharer.php?u=@Model.FriendlyUrl" target="_blank">Share on Facebook</a>

<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<a href="https://twitter.com/share?url=@Model.FriendlyUrl" class="twitter-share-button" data-count="none">Tweet</a>

<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/Share" data-url="@Model.FriendlyUrl">
</script>