/* Styles used by the TinyMCE editor */

/*Block Preview*/
.alert-info {
    background-color: #FFF8AA;
    border-color: #858585;
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
}

.header.dim {
    margin: 2% 0;
    opacity: 0.3;
}